<nav>
    <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">Home</a></li>
        <li><a routerLink="/form/view" routerLinkActive="active">Users-Form</a></li>
        <li><a routerLink="/users/show" routerLinkActive="active">Users</a></li>
        <li><a routerLink="/cars/show" routerLinkActive="active">Cars</a></li>
        <li><a routerLink="/users/api" routerLinkActive="active">User-API</a></li>
        <li><a routerLink="/directives" routerLinkActive="active">Directives</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
</nav>