.container1 {
  border-radius: 40px;
  font-size: 22px;
  text-align: center;
  margin: auto;
  width: max-content;
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(150, 150, 150);
  /* border-bottom: 5px solid darkgray;
  border-right: 5px solid darkgray; */
  box-shadow: 15px 15px 15px rgb(80, 80, 80);
}

.table-row {
  font-size: 18px;
}

td,
th {
  padding: 5px;
  padding-left: 25px;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 10px 0;
}
.container-2 {
  padding-bottom: 10px;
  font-size: 28px;
  text-align: center;
}
