<div class="container1">
    <div class="container-2">
        List of All Cars Available
    </div>
    <table>
        <tr class="table-row-heading">
            <th>Name</th>
            <th>Model</th>
            <th>Type</th>
            <th>Color</th>
            <th>Active</th>
            <th>Number</th>
            <th>Price</th>
        </tr>
        <tr class="table-row" *ngFor="let car of cars">
            <td>
                {{car.name}}
            </td>
            <td>
                {{car.model}}
            </td>
            <td>
                {{car.type}}
            </td>
            <td>
                {{car.color}}
            </td>
            <td>
                {{car.active}}
            </td>
            <td>
                {{car.number}}
            </td>
            <td>
                $ {{car.price}}
            </td>
        </tr>
    </table>
</div>