<div class="container1">
    <div class="container-2">
        List of All Users Available
    </div>
    <table>
        <tr class="table-row-heading">
            <th>F-Name</th>
            <th>L-Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Phone No</th>
            <th>Address</th>
            <th>Email</th>
            <th>Date of Entry</th>
        </tr>
        <tr class="table-row" *ngFor="let user of usersList.users">
            <td>
                {{user.firstName}}
            </td>
            <td>
                {{user.lastName}}
            </td>
            <td>
                {{user.age}}
            </td>
            <td>
                {{user.gender}}
            </td>
            <td>
                +91-{{user.phone}}
            </td>
            <td>
                {{user.address}}
            </td>
            <td>
                {{user.email}}
            </td>
            <td>
                {{user.dateModified | date:"medium"}}
            </td>
            <button class="btn-delete" (click)="usersList.deleteUsersData({id:user._id});log(user)">x</button>
        </tr>
    </table>
</div>